@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

* { box-sizing: border-box; }
html, body { margin: 0; padding: 0; }
body{
  font-family: 'Noto Sans KR', sans-serif;
  height: auto; 
  display: block;
}
.header {
  position: fixed;
  top: 0; left: 0; width: 100%;
  height: 72px;
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  padding: 0 40px;
  background: #ffffff; 
  color: #000;
  border-bottom: 1px solid #eee;
  z-index: 100;
}
.header .brand { margin: 0; font-size: 20px; font-weight: 800; }
.header nav ul {
  display: flex; 
  gap: 36px; 
  margin: 0 0 0 120px; 
  padding: 0; 
  list-style: none;
  font-size: 20px;
}
.header nav a { text-decoration: none; color: inherit; }
.header nav a:hover { color: #FF4400; }
.quick{
  margin: 0 30px 0 0; 
  padding: 0;
  display:flex; 
  gap:15px; 
  list-style:none;
}
.chip{
  display:inline-block; 
  padding:.32rem .7rem; 
  border-radius:999px;
  background:#ffd83c; 
  color:#FF4400; 
  font-weight:700; 
  font-size:15px;
  text-decoration:none;
}

.hero {
  margin-top: 72px;
}
.hero__media {
  position: relative;
  width: 100vw;
  height: 300px; 
  left: 50%; margin-left: -50vw; 
  overflow: hidden;
  background: #FF4400; 
}
.hero__media img {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  display: block;
}
.hero__caption{
  position: absolute;
  left: 50%;
  top: 25%;  
  transform: translateX(-50%);
  text-align: center; 
  color:#fff;
  text-shadow: 0 10px 28px rgba(0,0,0,.38);
}
.hero__caption strong {
  display: block; 
  margin: 0 0 8px 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 800; 
  font-size: 82px;
}
.hero__caption span {
  display: inline-block;
  font-weight: 400; 
  padding: 8px 25px; 
  border-radius: 999px;
  background: #ff642b;
  font-size: 20px;
}
.card-item{
  max-width: 1400px;
  margin: 40px auto; 
  padding: 0 20px;
  display: flex;
}
.card{
  position: relative; 
  width: 420px; 
  height: 180px;
  aspect-ratio: 4/5;
  margin: 20px;
  perspective: 1200px; 
  cursor: pointer;
}
.comment b{font-size: 28px;}
.card > .front, .card > .back{
  position: absolute; 
  inset: 0; 
  border-radius: 15px; 
  overflow: hidden;
  backface-visibility: hidden; 
  -webkit-backface-visibility: hidden;
  transition: transform .65s cubic-bezier(.2,.7,.2,1);
}
.card > .front{background: #111;}
.card > .front img{ 
  width: 420px; 
  height: 190px;
  object-fit: cover; 
  display: block; 
}
.card > .back{
  background: #ffbda5;
  color: #FF4400; 
  display: grid; 
  place-items: center;
  transform: rotateY(180deg);
}
.card:hover > .front,
.card:focus-within > .front{ transform: rotateY(180deg); }
.card:hover > .back,
.card:focus-within > .back{ transform: rotateY(360deg); }




.footer {
  font-size: 9px;
  text-align: center;
  padding: 60px;
  background: #FF4400;
  color: #ffffff;
  margin: 0;
}
